{{ template "layout" .}}
{{ define "main" }}
<div class="content-wrapper profile-wrapper">
    <div class="container">
        <div class="heading">
            <h2>Home</h2>
        </div>
        <div class="profiles">
            <div class="profile">
                <div class="profile-icon">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" width="100">
                </div>
                <p class="profile-name">Yusuf Adi Mirzaman</p>
                <p class="profile-name">152308829101-8</p>
                <p class="profile-name">Golang 3-6</p>
                <p class="profile-description">Seorang Web Developer berpengalaman selama 5 tahun dan sekarang bekerja sebagai Web Developer di Dinas Kominfo Kab. Tegal.</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{{ end }}